version: 2.1
orbs:
  node: circleci/node@5.1.0
  codecov: codecov/codecov@3.2.2

jobs:
  tests:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: accessibility
          command: npm run test:a11y || true
      - run:
          name: tests
          # We use workerIdleMemoryLimit to work around a memory issue with node.
          # See https://github.com/facebook/jest/issues/11956
          command: npm run test:coverage -- -w=4 --workerIdleMemoryLimit=1.5G
      - codecov/upload

  lint:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: lint
          command: npm run lint
      - run:
          name: prettier
          command: npm run format:check

  typescript:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run: npm run tsc

workflows:
  main:
    jobs:
      - tests
      - lint
      - typescript
