version: 2.1
orbs:
    node: circleci/node@5.0.1
jobs:
    test:
        executor:
            name: node/default
            tag: '16.13'
        steps:
            - checkout
            - run: npm install
            - run: echo "npm run lint"
            - run: echo "npm run test"
